<section class="menu">
	Order {{ order.id }}
	<ul>
		<li><span>Order ID</span> {{ order.id }}</li>
		<li><span>Created by</span> {{ order.authorship.createdBy }} <span>at</span> {{ order.authorship.createdAt|date }}</li>
		{% if not order.authorship.updatedAt is empty and not order.authorship.updatedBy is empty %}
			<li><span>Updated by</span> {{ order.authorship.updatedBy }} <span>at</span> {{ order.authorship.updatedAt|date }}</li>
		{% endif %}
		<li><span>User</span> {{ order.user.name }}</li>
		<li><span>Status</span> {{ order.status }}</li>
		<li><span>Type</span> {{ order.type }}</li>	
		<li><span>Locale</span> {{ order.locale }}</li>
		<li><span>Shipping Method</span> {{ order.shippingName }}</li>
		<li><span>Product Gross</span> {{ order.productGross|price }}</li>
		<li><span>Total Gross</span> {{ order.totalGross|price }}</li>
	</ul>
</section>