<div class="page">
	{% for key, barcode in barcodes %}
		<div class="label">
			<hgroup>
				<h2>{{ barcode.brand }}</h2>
				<h3>{{ barcode.name }}</h3>
				<p>{{ barcode.text }}</p>
			</hgroup>

			<p class="price">{{ barcode.price | price(barcode.currency) }}</p>
			<img src="{{ barcode.url }}" />
		</div>

		{% if (key + 1) == perPage %}
			</div>
			<div class="page-break"></div>
			<div class="page">
		{% endif %}
	{% endfor %}
</div>