{% extends 'Message:Mothership:ControlPanel::_templates/cp' %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts
		'@Message:Mothership:Commerce::resources/assets/js/product-create.js'

		output='/assets/js/ms_product_create.js'
		filter=''
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}
{% block content %}
<hgroup class="title">
	<h1>Add a new product</h1>
</hgroup>
<div class="container-content create-product">
	{{ form_start(form, {action: url('ms.commerce.product.create.action')}) }}
		<section class="group">
			<h1 class="title">Information</h1>
			<div class="content">
				{{ form_row(form.name) }}
				{{ form_row(form.brand) }}
				{{ form_row(form.category) }}

				<h2>Variants</h2>
				<div class="variants">
					<div class="variant-options"></div>
					<a class="button small add add-variant">{{ 'ms.commerce.product.button.variant' | trans }}</a>
					<div class="options">
						{{ form_widget(form.units) }}
					</div>
				</div>
				{{ form_row(form.prices) }}
				{{ form_row(form.type) }}
				{{ form_row(form.short_description) }}
			</div>
		</section>
		<div class="save-content">
			<button type="submit" class="button small save">
				{{ 'ms.commerce.product.button.create'|trans }}
			</button>
		</div>
	{{ form_end(form) }}
</div>
<div class="container-content complete">
	<div class="wrap">
		<h1><span class="tick animated"></span>Product created</h1>
		<a href="/admin/product/" class="small button">
			Continue editing product
		</a>
		<a href="/admin/product/create" class="small button">
			Create similar product
		</a>
		<a href="/admin/product/create" class="small button">
			Create new product
		</a>
	</div>
</div>

{% endblock %}