{% extends 'Message:Mothership:Commerce::product/dashboard' %}

{% block slideAttr 'data-slide-loaded' %}

{% block slide %}
<hgroup class="title">
	<h1>Add a new product</h1>
	<span type="submit" class="button small save create" form="ms-create-form" data-modal-open>
		{{ 'ms.commerce.product.button.create'|trans }}
	</span>
</hgroup>

<div class="container-content create-product short">
	{{ form_start(form, {action: url('ms.commerce.product.create.action'), 'attr': {'id': 'ms-create-form'}}) }}
		<section class="group">
			<h1 class="title">Information</h1>
			<div class="content">
				{{ form_row(form.name) }}
				{{ form_row(form.brand) }}
				{{ form_row(form.category) }}

				<h2>Variants</h2>
				<div class="variants">
					<div class="variant-options"><a class="button small add add-variant">{{ 'ms.commerce.product.button.variant' | trans }}</a>	</div>
					<div class="options">
						{{ form_widget(form.units) }}
					</div>
				
				</div>
				{{ form_row(form.prices) }}
				{{ form_row(form.type) }}
				{{ form_row(form.description) }}
			</div>
		</section>
	{{ form_end(form) }}
</div>

{% javascripts
	'@Message:Mothership:Commerce::resources/assets/js/product-create.js'

	output='/assets/js/ms_product_create.js'
	filter=''
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}