{% extends 'Message:Mothership:Commerce::product:edit-layout' %}

{% block edit %}
<ul>
	{% for image in product.images %}
		<li>
			{{ getResizedImage(image.file, 200, 200) }}
			<ul>
				<li>{{ 'ms.commerce.product.image.type.label'|trans }} {{ image.type }}</li>
				<li>{{ 'ms.commerce.product.image.option.name.label'|trans }} {{ image.optionName }}</li>
				<li>{{ 'ms.commerce.product.image.option.value.label'|trans }} {{ image.optionValue }}</li>
			</ul>
		</li>
	{% endfor %}
</ul>
	{{ form_start(form) }}
		{{ form_rest(form) }}
		<button type="submit" class="button small save" id="save-content">
			{{ 'ms.commerce.product.button.save'|trans }}
		</button>
	{{ form_end(form) }}

{% endblock %}

