{% extends 'Message:Mothership:Commerce::product:edit-layout' %}
{% import 'Message:Mothership:Commerce::options' as option %}
{% block edit %}
	<div class="listing">
		{% for type, imgs in images %}
			<h2>{{ type }}</h2>
			{% for image in imgs %}
			<div class="product-image">
				{{ getResizedImage(image, 200, 200) }}
				<div class="file-overlay">
					{{ image.file.name }}
				</div>
			</div>
		{% endfor %}
		{% endfor %}
	</div>
		{{ form_start(form) }}
	<div class="group">
		<h2 class="title">Add Image</h2>
		<div class="content">
			{{ form_row(form.image) }}
			{{ form_row(form.type) }}
			{{ option.renderRepeatable(form.options) }}
			{{ form_rest(form) }}
			<button type="submit" class="button small save" id="save-content">
				{{ 'ms.commerce.product.button.save'|trans }}
			</button>
		</div>

	</div>
		{{ form_end(form) }}


{% endblock %}
