{% extends 'Message:Mothership:Commerce::product:edit-layout' %}
{% import 'Message:Mothership:Commerce::options' as option %}
{% block edit %}
	<div class="listing">
		{% for type, imgs in images %}
			<h2>{{ type }}</h2>
			{% for image in imgs %}
			<div class="product-image">
				<div class="close">
					{{ render(controller('Message:Mothership:Commerce::Controller:Product:Edit#deleteImageForm', {imageID: image.id})) }}
				</div>
				{{ getResizedImage(image, 200, 200) }}
				<div class="file-overlay">
					{{ image.file.name }}
					<dl>
						<dt>Image Type</dt>
						<dd>{{ image.type }}</dd>
						{% if image.options %}
						{% for key, value in image.options %}
							<dt>{{ key }}</dt>
							<dd>{{ value }}</dd>
						{% endfor %}
						{% endif %}
					</dl>
				</div>
			</div>
		{% endfor %}
		{% endfor %}
	</div>
		{{ form_start(form, {attr: {id: 'product-edit-form'}}) }}
	<div class="group">
		<h2 class="title">Add Image</h2>
		<div class="content">
			{{ form_row(form.image) }}
			{{ form_row(form.type) }}
			{{ option.renderRepeatable(form.options) }}
			{{ form_rest(form) }}
		</div>

	</div>
		{{ form_end(form) }}
{% endblock %}
