{% extends 'Message:Mothership:Commerce::product:edit-layout' %}
{% import 'Message:Mothership:Commerce::options' as option %}

{% block edit %}
	{{ form_start(form, {attr: {id: 'product-edit-form'}}) }}
	<table>
		<colgroup>
			<col width="125">
			<col width="200">
			<col>
			<col width="75">
			<col width="75">
			<col width="100">
		</colgroup>
		<thead>
			<tr>
				<th>{{ 'ms.commerce.product.units.sku.label'|trans }}</th>
				<th>{{ 'ms.commerce.product.units.option.label'|trans }}</th>
				<th>{{ 'ms.commerce.product.units.prices.label'|trans }}</th>
				<th>{{ 'ms.commerce.product.details.weight-grams.label'|trans }}</th>
				<th class="a-center">{{ 'ms.commerce.product.units.visible.label'|trans }}</th>
				<th>{{ 'ms.commerce.product.units.delete.label'|trans }}</th>
			</tr>
		</thead>
		<tbody>
			{% for unit in units %}
				<tr>
					<td>{{ form_widget(form[unit.id]['sku']) }}</td>
					<td>
						{{ form_widget(form[unit.id]['options']) }}
					</td>
					<td>
						<div class="multi-inline">
							<div class="inline">
									{% for currency, price in form[unit.id].prices.currencies %}
									<div class="currency-units">
										<h4>{{ currency }}</h4>
									    {{ form_widget(price) }}
									</div>
									{% endfor %}
							</div>
						</div>
					</td>
					<td>{{ form_widget(form[unit.id]['weight']) }}</td>
					<td class="a-center">{{ form_widget(form[unit.id]['visible']) }}</td>
					<td><a class="button delete small" href="{{ url('ms.commerce.product.unit.delete', {productID: unit.product.id, unitID: unit.id})}}" data-confirm="Are you sure you want to delete this unit?">Delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<button type="submit" class="button small save" id="save-content" data-price-warn="#warning-content" data-modal-open data-modal="#warning-modal">
		{{ 'ms.commerce.product.button.save'|trans }}
	</button>
	{{ form_end(form) }}

<div class="group">
	<h2 class="title">Add Unit</h2>
	<div class="content">
		{{ form_start(addForm) }}
			{{ form_row(addForm.sku) }}
			{{ option.renderRepeatable(addForm.options) }}
			{% for currency, price in addForm.prices.currencies %}
				<div class="currency-units">
				    <h4>{{ currency }}</h4>
					{{ form_widget(price) }}
				</div>
			{% endfor %}
			{{ form_rest(addForm) }}
			<button type="submit" class="button small update" data-price-warn="#warning-content" data-modal-open data-modal="#warning-modal">
				{{ 'ms.commerce.product.button.sku'|trans }}
			</button>
		{{ form_end(addForm) }}
	</div>
</div>
{% endblock %}

{% block after %}
	{% include 'Message:Mothership:Commerce::product:modals:pricing-warn' %}
	<script>
		window.priceWarning = '{{"ms.commerce.product.pricing.warning" | trans}}';
	</script>

	{% javascripts
		'@Message:Mothership:Commerce::resources/assets/js/price-warn.js'

		output='/assets/js/commerce/price-warn.js'
		filter='?jsmin'
	%}
	<script src="{{asset_url}}"></script>
	{% endjavascripts %}
{% endblock %}
