<hgroup class="title">
	<h1>Products</h1>
	<div class="controls product">
		<a href="{{ url('ms.commerce.product.create')}}" class="button small create product" data-live>Add a new product</a>
		{# <a href="#" class="button small create product" data-live>Import products</a> #}
	</div>
</hgroup>
<div class="container-content">
	<table class="table-filter products">
		<colgroup>
			<col width="100">
            <col width="50">
            <col>
            <col>
            <col>
            <col width="100">
            <col width="100">
        </colgroup>
		<thead>
			<tr>
				<th>ID</th>
				<th class="disable">Photo</th>
				<th>Name</th>
				<th>Brand</th>
				<th>Category</th>
				<th class="disable"></th>
				<th class="disable"></th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>ID</th>
				<th>-</th>
				<th>Name</th>
				<th>Brand</th>
				<th>Category</th>
				<th class="a-center"><a href="#" class="clear-filters">Clear filters</a></th>
				<th>-</th>
			</tr>
		</tfoot>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.id }}</td>
					<td>{{ getResizedImage(product.getImage(), 50, 50) }}</td>
					<td><a href="{{ url('ms.commerce.product.edit.attributes', {productID:product.id}) }}" class="click" data-live>{{ product.defaultName }}</a></td>
					<td>{{ product.brand }}</td>
					<td>{{ product.category }}</td>
					<td>
						<a href="{{ url('ms.commerce.product.edit.attributes', {productID:product.id}) }}" class="button small" data-live>Edit</a>
						{# <a href="#" class="button small">Duplicate</a> #}
					</td>
					<td>
						<form action="{{ url('ms.commerce.product.delete', {productID: product.id}) }}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button name="delete[delete]" value="delete" id="delete" type="submit" class="button small remove">{{ 'Delete'|trans }}</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>