{% block choice_widget_options %}
	{% spaceless %}
		{% for group_label, choice in options %}
			{% if choice is iterable %}
				<optgroup label="{{ group_label|trans({}, translation_domain) }}">
					{% set options = choice %}
					{{ block('choice_widget_options') }}
				</optgroup>
			{% else %}
			{{ dump(oos_label)}}
				<option{% if choice.value in oos %} disabled="disabled"{% endif %} value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|trans({}, translation_domain) }}</option>
			{% endif %}
		{% endfor %}
	{% endspaceless %}
{% endblock choice_widget_options %}