<div class="topbar products">
	<ul class="tabs">
		{% for name, url in tabs %}
			<li class="{{ url == current ? 'active' : '' }}"><a href="{{ url(url, {'productID': productID}) }}" data-live>{{ name }}</a></li>
		{% endfor %}
	</ul>

	<div class="controls">
		<a href="{{ url('ms.commerce.product.barcodes', {productID: productID}) }}" data-modal-open id="print-barcodes" type="submit" class="button small print-barcodes">{{ 'Print barcodes'|trans }}</a>

	    <form action="{{ url('ms.commerce.product.delete', {productID: productID}) }}" method="post" id="delete-page">
	        <input type="hidden" name="_method" value="DELETE">
	        <button name="delete[delete]" value="delete" id="delete" type="submit" class="button small delete">{{ 'Delete'|trans }}</button>
	    </form>
		{% if not saveButton is null %}{{ saveButton }}{% else %}
	    <button type="submit" class="button small save" form="product-edit-form">
			{{ 'ms.commerce.product.button.save'|trans }}
		</button>
		{% endif %}
	</div>
</div>
