<div class="topbar products">
	<ul class="tabs">
		<li class="active">
			<a href="{{ url('ms.commerce.product.edit.attributes', {productID:productID}) }}" data-liv>Attributes</a>
		</li>
		<li>
			<a href="{{ url('ms.commerce.product.edit.details', {productID:productID}) }}" data-liv>Details</a>
		</li>
		<li>
			<a href="{{ url('ms.commerce.product.edit.pricing', {productID:productID}) }}" data-liv>Pricing</a>
		</li>
		<li class="">
			<a href="{{ url('ms.commerce.product.edit.units', {productID:productID}) }}" data-live>Units</a>
		</li>
		<li class="">
			<a href="{{ url('ms.commerce.product.edit.stock', {productID:productID}) }}" data-live>Stock</a>
		</li>
		<li class="">
			<a href="{{ url('ms.commerce.product.edit.images', {productID:productID}) }}" data-live>Images</a>
		</li>
	</ul>
</div>

<div class="controls">
    <form action="{{ url('ms.commerce.product.delete', {productID: productID}) }}" method="post" id="delete-page">
        <input type="hidden" name="_method" value="DELETE">
        <button name="delete[delete]" value="delete" id="delete" type="submit" class="button small delete">{{ 'Delete'|trans }}</button>
    </form>
</div>
