<h2>{{ 'ms.commerce.order.metadata.summary-title'|trans }}</h2>
{% if not metadata is empty %}
	<table class="order-listing">
		<thead>
		<tr>
			<th><span>{{ 'ms.commerce.order.metadata.key'|trans }}</span></th>
			<th><span>{{ 'ms.commerce.order.metadata.value'|trans }}</span></th>
		</tr>
		</thead>
		<tbody>
			{% for key, value in metadata %}
				<tr>
					<td>{{ key }}</td>
					<td>{{ value }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>{{ 'ms.commerce.order.metadata.none'|trans }}</p>
{% endif %}