{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block main %}

<h1>Create a product</h1>

{{ form_start(form) }}
	{{ form_row(form.name) }}
	{{ form_row(form.display_name) }}
	{{ form_row(form.short_description) }}

	<button type="submit">Create</button>
{{ form_end(form) }}

{% endblock %}