{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Sidebar#index', {'productID':product.id}))}}
{% endblock %}

{% block main %}

<hgroup class="title">
		<h1>Editing Stock'</h1>
</hgroup>

{{ render(controller('Message:Mothership:Commerce::Controller:Product:ProductsMenu#index', {'productID':product.id}))}}

<section class="container-products">
	{{ form_start(form) }}
	<table>
		<thead>
			<tr>
				<th>SKU</th>
				<th>Web Stock</th>
			</tr>
		</thead>
		<tbody>
			{% for unit in units %}
				<tr>
					<td>{{ unit.sku }}</td>
					{% for name, value in unit.stock %}
						<div class="inline">
							{% set locationName = ('location_'~name) %}
							<td>{{ form_widget(form[unit.id]['stock'][locationName]) }}</td>
						</div>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button type="submit" class="button small save" id="save-content">Update</button>
	{{ form_end(form) }}

</section>

{% endblock %}
