{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Sidebar#index', {'productID':product.id}))}}
{% endblock %}

{% block main %}

<hgroup class="title">
		<h1>Editing Units of '{{ product.name }}'</h1>
</hgroup>

<div class="topbar">
	<ul class="tabs">
		<li class=""><a href="{{ url('ms.commerce.product.edit', {productID:product.id}) }}" data-live="">Attributes</a></li>
		<li class="active"><a href="{{ url('ms.commerce.product.edit.units', {productID:product.id}) }}" data-live="">Units</a></li>
		<li class=""><a href="{{ url('ms.commerce.product.edit.stock', {productID:product.id}) }}" data-live="">Stock</a></li>
	</ul>
</div>
<section class="container-content">
	<table>
		<thead>
			<tr>
				<th>SKU</th>
				{% for heading in headings %}
					<th>{{heading}}</th>
				{% endfor %}
				<th>Weight (grams)</th>
				<th>Visible</th>
			</tr>
		</thead>
		<tbody>
			{% for unit in units %}
				<tr>
					<td>{{ unit.sku }}</td>
					{% for name, value in unit.options %}
						<td>{{ value }}</td>
					{% endfor %}
						{{ form_start(attribute(forms, unit.id)) }}
						{% for name, value in unit.price %}
							{{ dump(attribute(forms, unit.id))}}
							{{ form_row(forms[unit.id][name]) }}
						{% endfor %}
						{{ form_end(form) }}
					<td>{{ unit.weightGrams }}</td>
					<td>{{ unit.visible }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</section>
{% endblock %}
