{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Sidebar#index', {'productID':product.id}))}}
{% endblock %}

{% block main %}

<hgroup class="title">
		<h1>Editing Units of '{{ product.name }}'</h1>
</hgroup>

<div class="topbar">
	<ul class="tabs">
		<li class=""><a href="{{ url('ms.commerce.product.edit', {productID:product.id}) }}" data-live="">Attributes</a></li>
		<li class="active"><a href="{{ url('ms.commerce.product.edit.units', {productID:product.id}) }}" data-live="">Units</a></li>
		<li class=""><a href="{{ url('ms.commerce.product.edit.stock', {productID:product.id}) }}" data-live="">Stock</a></li>
	</ul>
</div>
<section class="container-content">
	{{ form_start(form) }}
	<table>
		<thead>
			<tr>
				<th>SKU</th>
				{% for heading in headings %}
					<th>{{heading}}</th>
				{% endfor %}
				<th>Prices</th>
				<th>Weight (grams)</th>
				<th>Visible</th>
			</tr>
		</thead>
		<tbody>
			{% for unit in units %}
				<tr>
					<td>{{ unit.sku }}</td>
					{% for name, value in unit.options %}
						<td>{{ value }}</td>
					{% endfor %}
						<td>
						{% for name, value in unit.price %}
							{{ form_row(form[unit.id]['price'][name]) }}
						{% endfor %}
						</td>
					<td>{{ form_widget(form[unit.id]['weight']) }}</td>
					<td>{{ form_widget(form[unit.id]['visible']) }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button type="submit">Update</button>
	{{ form_end(form) }}

	{{ form_start(addForm) }}
		{{ form_row(addForm.sku) }}

		{{ form_row(addForm.option_name) }}
		<datalist id="option_name">
			{% for option in optionName %}
				<option value="{{ option }}">{{option}}</option>
			{% endfor %}
		</datalist>

		{{ form_row(addForm.option_value) }}
		<datalist id="option_value">
			{% for option in optionValue %}
				<option value="{{ option }}">{{option}}</option>
			{% endfor %}
		</datalist>

		{{ form_row(addForm.weight) }}
		<button type="submit">Add new</button>

	{{ form_end(addForm) }}
</section>

{% endblock %}
