{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Sidebar#index', {'productID':product.id}))}}
{% endblock %}

{% block main %}

<hgroup class="title">
		<h1>Editing Stock'</h1>
</hgroup>

<div class="topbar products">
	<ul class="tabs">
		<li class="active"><a href="{{ url('ms.commerce.product.edit', {productID:product.id}) }}" data-liv>Attributes</a></li>
		<li class=""><a href="{{ url('ms.commerce.product.edit.units', {productID:product.id}) }}" data-live>Units</a></li>
		<li class=""><a href="{{ url('ms.commerce.product.edit.stock', {productID:product.id}) }}" data-live>Stock</a></li>
		<li class=""><a href="{{ url('ms.commerce.product.edit.images', {productID:product.id}) }}" data-live>Images</a></li>
	</ul>
</div>

<section class="container-products">
	{{ form_start(form) }}
	<table>
		<thead>
			<tr>
				<th>SKU</th>
				<th>Web Stock</th>
			</tr>
		</thead>
		<tbody>
			{% for unit in units %}
				<tr>
					<td>{{ unit.sku }}</td>
					{% for name, value in unit.stock %}
						<div class="inline">
							{% set locationName = ('location_'~name) %}
							<td>{{ form_widget(form[unit.id]['stock'][locationName]) }}</td>
						</div>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<button type="submit" class="button small save" id="save-content">Update</button>
	{{ form_end(form) }}

</section>

{% endblock %}
