<div class="container-detail dual-column" id="item{{ item.id }}">


<div class="box">
		<h1 class="title">{{ item.brand }} {{ item.productName }}  &mdash; {{ item.options }}</h1>


<div class="column">



		<ul class="order-details ">
			<li><span>Net</span> {{ item.net|price(order.currencyID) }}</li>
			<li><span>Discount</span> {{ item.discount|price(order.currencyID) }}</li>
			<li><span>Tax</span> {{ item.tax|price(order.currencyID) }}</li>
			<li><span>Item Gross</span> {{ item.gross|price(order.currencyID) }} </li>
			<li><span>Shipping Type</span> ({{ order.shippingName }})</li>
			<li><span>SKU</span> {{ item.sku }}</li>
			<li><span>Barcode</span> {{ item.barcode }}</li>
			<li><span>Weight</span> {{ item.weight }}</li>
			<li><span>Personalised </span> {{ item.isPersonalised }}</li>
			<li><span>Created by</span> {{ item.authorship.createdBy }}</li>
			<li><span>Current Staus</span> {{ item.status }}</li>
		</ul>

</div>


<div class="column">
		<h2>Status History</h2>
		<table class="order-listing progress">
		<thead>
		<tr>
			<th><span>Date / Time</span></th>
			<th><span>Status</span></th>
			<th><span>Updated By</span></th>

		</tr>
		</thead>
		{% for status in statuses[item.id] %}
		<tr>
			<td>{{ status.authorship.createdAt|date }}</td>
			<td>{{ status }}</td>
			<td>{{ status.authorship.createdBy }}</td>

		</tr>
		{% endfor %}
	</table>



</div>
</div>
</div>