<section class="dual-column" id="item{{ item.id }}">
	<h1 class="title">{{ item.description }}</h1>
	<div class="content" >
		<div class="column">
			<h2>Pricing Details</h2>
			<dl class="order-details ">
				<dt>Net</dt>
					<dd>{{ item.net|price(order.currencyID) }}</dd>
				<dt>Discount</dt>
					<dd>{{ item.discount|price(order.currencyID) }}</dd>
				<dt>Tax</dt>
					<dd>{{ item.tax|price(order.currencyID) }}</dd>
				<dt>Gross</dt>
					<dd>{{ item.gross|price(order.currencyID) }}</dd>
			</dl>
			<h2>Item Details</h2>
			<dl class="order-details ">
				<dt>SKU</dt>
					<dd>{{ item.sku }}</dd>
				<dt>Barcode</dt>
					<dd>{{ item.barcode }}</dd>
				<dt>Weight</dt>
					<dd>{{ item.weight }} grams</dd>
			</dl>
			<h2>Processing Details</h2>
			<dl class="order-details ">
				<dt>Created at</dt>
					<dd>{{ item.authorship.createdAt|date }}</dd>
				<dt>Created by</dt>
					<dd>{{ item.authorship.createdUser.name }}</dd>
				<dt>Current status</dt>
					<dd>{{ item.status }}</dd>
			</dl>
			{% if item.personalisation|length > 0 %}
			<h2>Personalisation Data</h2>
			<dl class="order-details">
				{% for name, value in item.personalisation %}
				<dt>{{ item.personalisation.getDisplayName(name) }}</dt>
					<dd>{{ value|nl2br }}</dd>
				{% endfor %}
			</dl>
			{% endif %}
		</div>
		<div class="column">
			<h2>Status History</h2>
			<table class="order-listing progress">
				<thead>
					<tr>
						<th><span>Status</span></th>
						<th><span>Updated at</span></th>
						<th><span>Updated by</span></th>
					</tr>
				</thead>
				{% for status in statuses[item.id] %}
				<tr>
					<td>{{ status }}</td>
					<td>{{ status.authorship.createdAt|date }}</td>
					<td>{{ status.authorship.createdUser.name }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</section>

