<h2>{{ 'ms.commerce.order.item.summary-title'|trans }}</h2>
{% if not items is empty %}
	<table class="order-listing-overview">
		<thead>
		<tr>
			<th><span>Product</span></th>
			<th><span>Net</span></th>
			<th><span>Discount</span></th>
			<th><span>Tax</span></th>
			<th><span>Gross</span></th>
			{% if moduleExists('Message\\Mothership\\OrderReturn') %}
				<th><span>Return</span></th>
			{% endif %}
		</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td class="left">{{ item.brand }} {{ item.productName }} (SKU: {{ item.sku }}) &mdash; {{ item.options }}  </td>
					<td>{{ item.net|price(order.currencyID) }}</td>
					<td>{{ item.discount|price(order.currencyID) }}</td>
					<td>{{ item.tax|price(order.currencyID) }}</td>
					<td>{{ item.gross|price(order.currencyID) }}</td>
					{% if moduleExists('Message\\Mothership\\OrderReturn') %}
						<td>
							{% if item.status.code == 1000 %}
							<a href="{{ url('ms.user.return.create',{itemID: item.id}) }}">Return</a>
							{% endif %}
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>{{ 'ms.commerce.order.item.none'|trans }}</p>
{% endif %}