<h2>{{ 'ms.commerce.order.item.summary-title'|trans }}</h2>
{% if not items is empty %}
	<table class="order-listing-overview">
		<thead>
		<tr>
			<th>Product</th>
			<th>Net</th>
			<th>Discount</th>
			<th>Tax</th>
			<th>Gross</th>
			<th>Cancel</th>
		</tr>
		</thead>
		<tbody>
			{% for item in items %}
				<tr>
					<td class="left">{{ item.description }} </td>
					<td>{{ item.net|price(order.currencyID) }}</td>
					<td>{{ item.discount|price(order.currencyID) }}</td>
					<td>{{ item.tax|price(order.currencyID) }}</td>
					<td>{{ item.gross|price(order.currencyID) }}</td>
					<td class="center">
					{% if itemCancellationSpecification.isSatisfiedBy(item) %}
						<a href="{{ url('ms.commerce.order.item.cancel', {'orderID': order.id, 'itemID': item.id }) }}" class="button icon cancel" data-modal-open></a>
					{% else %}
						<span class="button icon cancel disabled">
							{% if item.status.name == 'Cancelled' %}
								{{ 'ms.commerce.order.item.cancelled' | trans }}
							{% else %}
								{{ 'ms.commerce.order.item.cancel-disabled' | trans }}
							{% endif %}
						</span>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
{% else %}
	<p>{{ 'ms.commerce.order.item.none'|trans }}</p>
{% endif %}