<a href="/admin/order/view" class="back">Back to orders</a>
<section class="order-overview">	
	<ul>
		<li>
			<span>{{ 'ms.commerce.order.order.orderID'|trans }}</span>
			{{ order.id }}
		</li>
		<li>
			<span>{{ 'Created by'|trans }} {{ order.authorship.createdBy }}</span>
			{{ 'at'|trans }}
			{{ order.authorship.createdAt|date }}
		</li>
		{% if not order.authorship.updatedAt is empty and not order.authorship.updatedBy is empty %}
			<li>
				<span>Updated by {{ order.authorship.updatedBy }}</span>				
				at
				{{ order.authorship.updatedAt|date }}
			</li>
		{% endif %}
		<li>
			<span>{{ 'user'|trans|title }}</span>
			{{ order.user.name }}
		</li>
		<li>
			<span>{{ 'ms.commerce.order.order.status'|trans }}</span>
			{{ order.status }}
		</li>
		<li>
			<span>{{ 'ms.commerce.order.order.type'|trans }}</span>
			{{ order.type }}
		</li>	
		<li>
			<span>{{ 'ms.commerce.order.order.locale'|trans }}</span>
			{{ order.locale }}
		</li>
		<li>
			<span>{{ 'ms.commerce.order.order.shipping-method'|trans }}</span>
			{{ order.shippingName }}
		</li>
		<li>
			<span>{{ 'ms.commerce.order.order.product-gross'|trans }}</span>
			{{ order.productGross|price(order.currencyID) }}
		</li>
		<li>
			<span>{{ 'ms.commerce.order.order.total-gross'|trans }}</span>
			{{ order.totalGross|price(order.currencyID) }}
		</li>
	</ul>
</section>