<div class="container">
	<h1>Order Details</h1>
	<section class="group">
		<h2 class="title">Currency Details</h2>
		<ul class="file-details">
			<li><span>Value</span> {{ order.value|price(order.currencyID) }} </li>
			<li><span>Currency</span> {{ order.currencyID }}</li>
			<li><span>Conversion Rate</span>{{ order.conversionRate }}</li>
		</ul>
	</section>

	<section class="group">
		<h2 class="title">Production Price Details</h2>
		<ul class="file-details">
			<li><span>Product Net</span> {{ order.productNet|price }} </li>
			<li><span>Product Discount</span> {{ order.productDiscount|price }} </li>
			<li><span>Product Tax</span> {{ order.productTax|price }} </li>
			<li><span>Product Gross</span> {{ order.productGross|price }} </li>
		</ul>
	</section>

	<section class="group">
		<h2 class="title">Total Price Details</h2>
		<ul class="file-details">
			<li><span>Total Net</span> {{ order.totalNet|price }} </li>
			<li><span>Total Discount</span> {{ order.totalDiscount|price }} </li>
			<li><span>Total Tax</span> {{ order.totalTax|price }} </li>
			<li><span>Total Gross</span> {{ order.totalGross|price }} </li>
		</ul>
	</section>

	<section class="group">
		<h2 class="title">Shipping Details</h2>
		<ul class="file-details">
			<li><span>Shipping Name</span> {{ order.shippingName }} </li>
			<li><span>Shipping List Price</span> {{ order.shippingListPrice|price }} </li>
			<li><span>Shipping Net</span> {{ order.shippingNet|price }} </li>
			<li><span>Shipping Discount</span> {{ order.shippingDiscount|price }} </li>
			<li><span>Shipping Tax</span> {{ order.shippingTax|price }} </li>
			<li><span>Shipping Tax Rate</span> {{ order.shippingTaxRate|price }} </li>
			<li><span>Shipping Gross</span> {{ order.shippingGross|price }} </li>
		</ul>
	</section>
</div>