{% if order.items|length > 0 %}
	<dl>
		{% for item in order.items.getRows %}
		<dt>{{ item.quantity }} x {{item.description }}</dt>
			<dd>{{ item.listPrice|price(order.currencyID) }}</dd>
		{% endfor %}
		<dt>Total</dt>
			<dd>{{ totalListPrice|price(order.currencyID) }}</dd>
	</dl>
	<p class="go-to-checkout"><a href="{{ url('ms.ecom.checkout') }}">Go to checkout</a>
{% else %}
{% include 'Message:Mothership:Commerce::basket-empty' %}
{% endif %}