<div class="container">
	<section class="group">
		<h1 class="title">
			{{ dispatch.method.displayName|title }}, 
			Created by {{ dispatch.authorship.createdBy }}
			at {{ dispatch.authorship.createdAt|date }}
		</h1>
		<ul class="file-details">
			<li>
				<span>Shipped by</span>
				{{ dispatch.shippedBy }}
				<span>at</span>
				{{ dispatch.shippedAt|date }}
			</li>
			<li>
				<span>{{ 'ms.commerce.order.dispatch.code'|trans }}</span>
				{{ dispatch.code }}
			</li>
			<li>
				<span>{{ 'ms.commerce.order.dispatch.cost'|trans }}</span>
				{{ dispatch.cost|price }}
			</li>
			<li>
				<span>{{ 'ms.commerce.order.dispatch.weight'|trans }}</span>
				{{ dispatch.weight }}
			</li>
		</ul>
		<section>
			{% set items = dispatch.items %}

			{% include '::order:item:summary' %}
		</section>
	</section>
</div>