<div class="container">
	<section class="group">
		<h1 class="title">{{ payment.method.displayName }}, {{ payment.authorship }}</h1>
		<ul class="file-details">
			{% if not payment.return is empty %}
				<li><span>Return</span> {{ payment.return }}</li>
			{% endif %}
			<li><span>Method</span> {{ payment.method.displayName }}</li>
			<li><span>Amount</span> {{ payment.amount|price }}</li>
			<li><span>Reference </span> {{ payment.reference }}</li>
		</ul>
	</section>
</div>