{% extends 'Message:Mothership:ControlPanel::modal:dangerous' %}

{% block title title %}

{% block content %}
{{ form_start(form) }}
	{{ form_row(form.stock) }}

	<div class="refund">
		{{ form_row(form.refund) }}
		<span><strong>{{ refundAmount|price }}</strong></span>
	</div>

	{{ form_rest(form) }}

	<p class="warning">This action cannot be undone</p>
	<button type="submit" class="button save small">Cancel order</button>

{{ form_end(form) }}
{% endblock %}