{% extends '::order:details:order' %}

{% block order_content %}
	<section class="container-content">
		<section class="repeatable-group">
			{% if not notes is empty %}
				{% for note in notes %}
					<div class="container">
						<section class="group">
							<h1 class="title">{{ note.authorship }}</h1>
							
							<section>
								<h2>Note:</h2>
								<p>{{ note.note }}</p>
							</section>

							<ul class="file-details">
								<li><span>Customer Notified </span>{{ note.customerNotified }}</li>
								<li><span>Raised From </span>{{ note.raisedFrom }}</li>
							</ul>
						</section>
					</div>
				{% endfor %}
			{% else %}
				{{ 'ms.commerce.order.note.none'|trans }}
			{% endif %}
		</section>
	</section>
{% endblock %}