<h2>{{ 'ms.commerce.order.address.summary-title'|trans }}</h2>
{% if not addresses is empty %}
	<table class="order-listing">
		<thead>
		<tr>
			<th><span>{{ 'ms.commerce.order.address.name'|trans }}</span></th>
			<th><span>{{ 'ms.commerce.order.address.line'|trans({'number': 1}) }}</span></th>
			<th><span>{{ 'ms.commerce.order.address.line'|trans({'number': 2}) }}</span></th>
			<th><span>{{ 'ms.commerce.order.address.postcode'|trans }}</span></th>
			<th><span>{{ 'ms.commerce.order.address.town'|trans }}</span></th>
			<th><span>{{ 'ms.commerce.order.address.state'|trans }}</span></th>
			<th><span>{{ 'ms.commerce.order.address.country'|trans }}</span></th>
		</tr>
		</thead>
		<tbody>
			{% for key, address in addresses %}
				<tr>
					<td>{{ address.name }}</td>
					<td>{{ address.lines[1] }}</td>
					<td>{{ address.lines[2] }}</td>
					<td>{{ address.postcode }}</td>
					<td>{{ address.town }}</td>
					<td>{{ address.state }}</td>
					<td>{{ address.country }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>{{ 'ms.commerce.order.address.none'|trans }}</p>
{% endif %}