<div class="container">
	<h1>Order Details</h1>
	<section class="group">
		<h2 class="title">Value {{ order.value|price(order.currencyID) }} - Show Currency Details</h2>
		<ul class="order-details">
			<li><span>Value</span> {{ order.value|price(order.currencyID) }} </li>
			<li><span>Currency</span> {{ order.currencyID }}</li>
			<li><span>Conversion Rate</span>{{ order.conversionRate }}</li>
		</ul>
	</section>

	<section class="group">
		<h2 class="title">Product Gross {{ order.productGross|price(order.currencyID) }} - Show Product Price Details</h2>
		<ul class="order-details">
			<li><span>Product Net</span> {{ order.productNet|price(order.currencyID) }} </li>
			<li><span>Product Discount</span> {{ order.productDiscount|price(order.currencyID) }} </li>
			<li><span>Product Tax</span> {{ order.productTax|price(order.currencyID) }} </li>
			<li><span>Product Gross</span> {{ order.productGross|price(order.currencyID) }} </li>
		</ul>
	</section>

	<section class="group">
		<h2 class="title">Total Gross {{ order.totalGross|price(order.currencyID) }} - Show Total Price Details</h2>
		<ul class="order-details">
			<li><span>Total Net</span> {{ order.totalNet|price(order.currencyID) }} </li>
			<li><span>Total Discount</span> {{ order.totalDiscount|price(order.currencyID) }} </li>
			<li><span>Total Tax</span> {{ order.totalTax|price(order.currencyID) }} </li>
			<li><span>Total Gross</span> {{ order.totalGross|price(order.currencyID) }} </li>
		</ul>
	</section>

	<section class="group">
		<h2 class="title">Shipping Gross {{ order.shippingGross|price(order.currencyID) }} - Show Shipping Details</h2>
		<ul class="order-details">
			<li><span>Shipping Name</span> {{ order.shippingName }} </li>
			<li><span>Shipping List Price</span> {{ order.shippingListPrice|price(order.currencyID) }} </li>
			<li><span>Shipping Net</span> {{ order.shippingNet|price(order.currencyID) }} </li>
			<li><span>Shipping Discount</span> {{ order.shippingDiscount|price(order.currencyID) }} </li>
			<li><span>Shipping Tax</span> {{ order.shippingTax|price(order.currencyID) }} </li>
			<li><span>Shipping Tax Rate</span> {{ order.shippingTaxRate|price(order.currencyID) }} </li>
			<li><span>Shipping Gross</span> {{ order.shippingGross|price(order.currencyID) }} </li>
		</ul>
	</section>
</div>