

<div class="small-box-row">
	<section class="group small-box">
		<h2 class="title">Billing Total</h2>
		<ul class="order-details">
			<li><span>Subtotal</span> {{ order.productGross|price(order.currencyID) }} (Tax: {{ order.productTax|price(order.currencyID) }} ) </li>
			<li><span>Discount</span> {{ order.totalDiscount|price(order.currencyID) }} </li>
			<li><span>Shipping ({{ order.shippingDisplayName }} )</span> {{ order.shippingGross|price(order.currencyID) }}</li>
			<li class="grand-total"><span>Grand Total</span> {{ order.totalGross|price(order.currencyID) }} </li>
			<li><span>Currency</span> {{ order.currencyID }} (Conversion Rate: {{ order.conversionRate }})</li>

		</ul>
	</section>

	<section class="group small-box">
		<h2 class="title">Delivery Address</h2>
		{% set address = order.addresses.getByType('delivery') %}
		<ul class="order-details">
			<li>
				<span>{{ 'ms.commerce.order.address.name'|trans }}</span>
				<a href="{{ url('ms.cp.user.admin.detail.edit', {'userID': order.user.id }) }}">
					{{ address.title }} {{ address.forename }} {{ address.surname }}
				</a>
			</li>
			<li>
				<span>{{ 'ms.commerce.order.order.user-email'|trans }}</span>
				{{ order.userEmail }}
			</li>
			{% for key, line in address.lines %}
				{% if not line is empty %}
					<li>
						<span>{{ 'ms.commerce.order.address.line'|trans({'number': key}) }}</span>
						{{ line }}
					</li>
				{% endif %}
			{% endfor %}

				<li><span>{{ 'ms.commerce.order.address.town'|trans }}</span>
				{{ address.town }}
			</li>
				<li>
				<span>{{ 'ms.commerce.order.address.postcode'|trans }}</span>
				{{ address.postcode }} </li>
			{% if not address.state is empty %}
				<li>
					<span>{{ 'ms.commerce.order.address.state'|trans }}</span>
					{{ address.state }}
				</li>
			{% endif %}
			<li>
				<span>{{ 'ms.commerce.order.address.country'|trans }}</span>
				{{ address.country }}
			</li>
			{% if not address.telephone is empty %}
				<li>
					<span>{{ 'ms.commerce.order.address.telephone'|trans }}</span>
					{{ address.telephone }}
				</li>
			{% endif %}
		</ul>
	</section>

	<section class="group small-box">
		<h2 class="title">Information</h2>
		<ul class="order-details">
			<li>
				<span>{{ 'Created by'|trans }}</span>
				<a href="{{ url('ms.cp.user.admin.detail.edit', {userID: order.authorship.createdBy}) }}">
					{{ order.authorship.createdUser.name }}
				</a>
			</li>
			<li>
				<span>{{ 'ms.commerce.order.order.user-email'|trans }}</span>
				{{ order.authorship.createdUser.email }}
			</li>
			<li><span>{{ 'Created at'|trans }}</span> {{ order.authorship.createdAt|date }}</li>
		</ul>
	</section>
</div>

