{% if not orders is empty %}
	{% if not orderLink is defined %}
		{% set orderLink = 'ms.commerce.order.detail.view' %}
	{% endif %}
	<table class="order-listing">
		<thead>
		<tr>
			<th><span>Order Id</span></th>
			<th><span>Created at</span></th>
			<th><span>User</span></th>
			<th><span>Status</span></th>
			<th><span>Shipping Method</span></th>
			<th><span>Total Gross</span></th>
		</tr>
		</thead>
		<tbody>
			{% for order in orders %}
				<tr>
					<td><a href="{{ url(orderLink, {orderID: order.id}) }}">{{ order.id }}</a></td>
					<td>{{ order.authorship.createdAt|date }}</td>
					<td><a href="">{{ order.user.name }}</a></td>
					<td>{{ order.status }}</td>
					<td>{{ order.shippingName }}</td>
					<td>{{ order.totalGross|price(order.currencyID) }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<li><span>Subtotal</span> {{ order.productGross|price(order.currencyID) }} (Tax: {{ order.productTax|price(order.currencyID) }} ) </li>
	<li><span>Discount</span> {{ order.totalDiscount|price(order.currencyID) }} </li>
	<li><span>Shipping ({{ order.shippingName }} )</span> {{ order.shippingGross|price(order.currencyID) }}</li>
	<li><span>Grand Total</span> {{ order.totalGross|price(order.currencyID) }} </li>
{% else %}
	<p>{{ 'ms.commerce.order.order.none'|trans }}</p>
{% endif %}