<div class="container">
	<section class="group">
		<h1 class="title">{{ address.type|capitalize }}, {{ address.lines[1] }}</h1>
		<ul class="order-details">
			<li>
				<span>{{ 'ms.commerce.order.address.type'|trans }}</span>
				{{ address.type|capitalize }}
			</li>
			<li>
				<span>{{ 'ms.commerce.order.address.name'|trans }}</span>
				{{ address.title }} {{ address.forename }} {{ address.surname }}
			</li>
			{% for key, line in address.lines %}
				{% if not line is empty %}
					<li>
						<span>{{ 'ms.commerce.order.address.line'|trans({'number': key}) }}</span>
						{{ line }}
					</li>
				{% endif %}
			{% endfor %}
			<li>
				<span>{{ 'ms.commerce.order.address.postcode'|trans }}</span>
				{{ address.postcode }} 
				<span>{{ 'ms.commerce.order.address.town'|trans }}</span>
				{{ address.town }}
			</li>
			{% if not address.state is empty %}
				<li>
					<span>{{ 'ms.commerce.order.address.state'|trans }}</span>
					{{ address.state }}
				</li>
			{% endif %}
			<li>
				<span>{{ 'ms.commerce.order.address.country'|trans }}</span>
				{{ address.country }}
			</li>
			{% if not address.telephone is empty %}
				<li>
					<span>{{ 'ms.commerce.order.address.telephone'|trans }}</span>
					{{ address.telephone }}
				</li>
			{% endif %}
		</ul>
	</section>
</div>