<section class="group">
	<h2 class="title">
		{{ payment.method.displayName }},
		Created by {{ payment.authorship.createdBy }}
		at {{ payment.authorship.createdAt|date }}
	</h2>
	<div class="content">
		<dl class="order-details">
			{% if not payment.return is empty %}
				<dt>{{ 'ms.commerce.order.payment.return'|trans }}</dt>
					<dd>{{ payment.return }}</dd>
			{% endif %}
			<dt>{{ 'ms.commerce.order.payment.method'|trans }}</dt>
				<dd>{{ payment.method.displayName }}</dd>
			<dt>{{ 'ms.commerce.order.payment.amount'|trans }}</dt>
				<dd>{{ payment.amount|price(order.currencyID) }}</dd>
			<dt>{{ 'ms.commerce.order.payment.reference'|trans }}</dt>
				<dd>{{ payment.reference }}</dd>
		</dl>
	</div>
</section>