<div class="container">
	<section class="group">
		<h1 class="title">
			{{ payment.method.displayName }},
			Created by {{ payment.authorship.createdBy }}
			at {{ payment.authorship.createdAt|date }}
		</h1>
		<ul class="order-details">
			{% if not payment.return is empty %}
				<li>
					<span>{{ 'ms.commerce.order.payment.return'|trans }}</span>
					{{ payment.return }}
				</li>
			{% endif %}
			<li>
				<span>{{ 'ms.commerce.order.payment.method'|trans }}</span>
				{{ payment.method.displayName }}
			</li>
			<li>
				<span>{{ 'ms.commerce.order.payment.amount'|trans }}</span>
				{{ payment.amount|price(order.currencyID) }}
			</li>
			<li>
				<span>{{ 'ms.commerce.order.payment.reference'|trans }}</span>
				{{ payment.reference }}
			</li>
		</ul>
	</section>
</div>