<section class="group">
	<h2 class="title">
		{{ payment.method.displayName }}, {{ payment.authorship }}
	</h2>
	<div class="content">
		<dl class="order-details">
			<dt>{{ 'ms.commerce.order.payment.method'|trans }}</dt>
				<dd>{{ payment.method.displayName }}</dd>
			<dt>{{ 'ms.commerce.order.payment.amount'|trans }}</dt>
				<dd>{{ payment.amount|price(order.currencyID) }}</dd>
			<dt>{{ 'ms.commerce.order.payment.reference'|trans }}</dt>
				<dd>
					{% if payment.payment.reference %}
						{{ payment.payment.reference }}
					{% else %}
						<em>Unknown</em>
					{% endif %}
				</dd>
		</dl>
	</div>
</section>