{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% macro getHeading(heading) %}
	<thead>
		<tr>
			{% for title in heading %}
				<th>{{ title }}</th>
			{% endfor %}
		</tr>
	</thead>
{% endmacro %}

{% block javascripts %}
	{{ parent() }}
	{% javascripts
		'@Message:Mothership:Commerce::resources/assets/js/product-upload-warning.js'

		output="/assets/js/ms_upload-*.js"
		filter="?jsmin"
	%}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Sidebar#index', {'productID':product.id}))}}
{% endblock %}

{% block main %}
	{% include '@Message:Mothership:Commerce::product:csv:warning_modal' %}
	<section class="container-content">
	{% set key = 1 %}
	{# Use flipscroll style at http://elvery.net/demo/responsive-tables/ #}
	<h3>Valid rows</h3>
	<table>
		{{ _self.getHeading(heading) }}
		<tbody>
			{% for product in productData %}
				{% for unit in product %}
					<tr class="{{ (key is odd) ? "odd" : "even" }}">
						{% for column in unit %}
							<td>{{ column }}</td>
						{% endfor %}
					</tr>
				{% endfor %}
				{% set key = key + 1 %}
			{% endfor %}
		</tbody>
	</table>

	<h3>Invalid rows</h3>
	<table>
		{{ _self.getHeading(heading) }}
		<tbody>
		{% for invalidRow in invalid %}
			<tr>
				{% for invalidColumn in invalidRow %}
					<td>{{ invalidColumn }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
		</tbody>
	</table>

	{{ form_start(form, {'attr': {'id': 'ms_product_upload_confirm'} }) }}
		<span data-modal-open data-modal="#upload_warning" id="save-button" class="button modal">Save</span>
	{{ form_end(form) }}
	</section>
{% endblock %}