{% extends 'Message:Mothership:ControlPanel::_templates/left_sidebar' %}

{% block sidebar %}
	{{ render(controller('Message:Mothership:Commerce::Controller:Product:Sidebar#index', {'productID':product.id}))}}
{% endblock %}

{% block main %}

	<hgroup class="title">
		<h1>{{ 'ms.commerce.product.upload.title' | trans }}</h1>
	</hgroup>
	<div class="container-content csv-upload">
		<div class="module landscape">
			<div class="wrap">
				{{ form_start(form) }}
				{{ form_row(form['file']) }}
				<button class="button upload">Upload CSV</button>
				{{ form_end(form) }}
				<a class="button download" href="{{ url('ms.commerce.product.upload.csv') }}">Download CSV Template</a>
			</div>
		</div>
	</div>
{% endblock %}