<section class="container-content">
	<h2>Adress Summary</h2>
	{% if addresses | length > 0 %}
	<table class="order-listing">
		<thead>
		<tr>
			<th><span>Name</span></th>
			<th><span>Line 1</span></th>
			<th><span>Line 2</span></th>
			<th><span>Postcode</span></th>
			<th><span>Town</span></th>
			<th><span>State</span></th>
			<th><span>Country</span></th>
		</tr>
		</thead>
		<tbody>
			{% for key, address in addresses %}
				<tr>
					<td>{{ address.name }}</td>
					<td>{{ address.lines[1] }}</td>
					<td>{{ address.lines[2] }}</td>
					<td>{{ address.postcode }}</td>
					<td>{{ address.town }}</td>
					<td>{{ address.state }}</td>
					<td>{{ address.country }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>Empty</p>
{% endif %}