<section class="group">
	<h1 class="title">Created by {{ note.authorship.createdUser.name }} at {{ note.authorship.createdAt|date }}</h1>
	<div class="content">
		<ul class="order-details">
			<li><span>Note</span>{{ note.note|nl2br }}</li>
			<li>
				<span>{{ 'ms.commerce.order.note.customer-notified'|trans }}</span>
				{{ note.customerNotified|replace({'1': 'Yes', '0': 'No'})|default('No') }}
			</li>
			<li>
				<span>{{ 'ms.commerce.order.note.raised-from'|trans }}</span>
				{{ note.raisedFrom|replace({'_': ' '})|capitalize }}
			</li>
		</ul>
	</div>	
</section>

